:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  body {
    font-family: 'Georgia', serif;
    background-color: #f7f0e6;
    color: #4a2c2a;
    margin: 0;
    padding: 0;
    align-content: center;
}
.conteiner{ display: inline-block;
  
}
.navbar {
    background-color: #d35d5d;
    padding: 1rem;
}

.navbar .navbar-item {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .navbar-item:hover {
    color: #ffd19a;
}

.card {
    background-color: #fff;
    border: 1px solid #ffd19a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    max-width: 400px;
}

.card img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    color: #d35d5d;
    margin-bottom: 0.5rem;
}

.button {
    background-color: #d35d5d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b3864a;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #b3864a;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #d35d5d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #b3864a;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
